*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
	text-decoration: none;
    color: inherit;

}

.container
{
	max-width: 1200px;
	margin: 0 auto;
}

img, video{
    max-width: 100%;
    height: auto;

}
.titulo{
    display: flex;
    background-color: black;
    color: white;
    padding: 3rem ;
    justify-content: center;
    letter-spacing: 1em;
    margin: 1em;
    /* width: 100%; */
  /*  height: 20vh; */
}

.menu{
    display: flex;
    justify-content: center;
    /* background-color:burlywood; */
    margin: 2em;
}

.menu__iconos{
    width: 4.5rem;
}

a img{
    margin: 1em;
    
}

.portadaPrincipal__2{
    display: flex;
    justify-content: center;
    /* position: relative;     */
}
.ep{
    display: flex;
    justify-content: center;
    margin: 3em;
}
.btn{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
	font-size: 2rem;
	color: white;
	padding: 15px 35px 15px 35px;  
    border-radius: 10px;   
    border: solid 3px black;
    /* position: absolute;
    top: 1100px;
    left: 850px;	 */
}

.btn:hover   
{
background: black;
color: white;
border: solid 3px white;
font-size: 35px
}

.portada__principal2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: cadetblue; */
    margin: 2rem;
}

.portadaPrincipal__2--foto{
    display: flex;
    
    /* width: 1200px; */
    align-items: center;  
}

section h2{
    text-align: center;
    margin: 2rem;
}

.foto__grupo{
    display: flex;
    justify-content: center;
}


.nosotros{
    text-align: center;
    margin: 1.5em;
}
/*LANZAMIENTO EP*/

/* .disco{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.titulo__letras{
    margin: 2em;
    text-align: center;
}

.disco__letras{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 1.6rem;
}

.disco__letras--titulo{
    text-align: center;
    margin: 1.5em;
}
.disco__letras--canciones{
    text-align: center;
    margin: 1.5rem;
    /* text-transform: capitalize; */
    line-height: 2em; /*sirve para agrandar la distancia entre líneas de textos*/
    letter-spacing: 0.1em; 
    /* font-weight: bold; */
}


footer{
    background-color: black;
    /* display: flex; */
    color: white;
    padding: 40px ;
    justify-content: center;
    text-align: center;
    /* text-shadow: 3px 3px 3px; */
    margin: 1em;
}

.footer__iconos{
    width: 2.5rem;
    
}
/* span{
    display: flex;
    flex-direction: column;
} */
/* 
@media screen and (min-width: 320px) {
   
    header {
        padding: 40px;
    }
    h1{
        padding: 40px;
    }
}
*/
@media screen and (min-width: 425px) {
    footer{
        /* padding: 40%; */
        /* width: 80%; */
    }
    
} 